# **Groupby Core**
**Mikhail Pillay**

In [31]:
## Import Pandas with the alias pd
import pandas as pd

In [32]:
## Define the file address as a string
file_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQ4X3MGOfk9algNUbjntZfwaaP8kCZzshgf0H-9PkdcIaWw7vNSt1gd41bJzJEr_96EB77cphRROvmq/pub?output=csv"

In [33]:
## Define a dataframe 'df'
df = pd.read_csv(file_url)

In [34]:
df

      age     sex     bmi  children  smoker     region  charges
0      19  female  27.900         0       1  southwest    16885
1      18    male  33.770         1       0  southeast     1726
2      28    male  33.000         3       0  southeast     4449
3      33    male  22.705         0       0  northwest    21984
4      32    male  28.880         0       0  northwest     3867
...   ...     ...     ...       ...     ...        ...      ...
1333   50    male  30.970         3       0  northwest    10601
1334   18  female  31.920         0       0  northeast     2206
1335   18  female  36.850         0       0  southeast     1630
1336   21  female  25.800         0       0  southwest     2008
1337   61  female  29.070         0       1  northwest    29141

[1338 rows x 7 columns]

In [39]:
##1) What is the average age for the entire data set?
df['age'].mean()

39.20702541106129

In [40]:
##2) What is the age of the oldest person in the entire data set (the maximum age)?
df['age'].max()

64

In [41]:
##3)What is the age of the youngest person in the entire data set (the minimum age)?
df['age'].min()

18

In [42]:
##4) What is the average for charges for the entire data set?
df['charges'].mean()

13270.414798206279

In [43]:
##5) What is the average for charges grouped by sex?
df.groupby('sex')[['charges']].mean()

             charges
sex
female  12569.584592
male    13956.730769

In [48]:
##6) What is the average for charges, grouped by if the person is a smoker?
##df.groupby('smoker')['charges'].mean()
df[df['smoker'] == 1]['charges'].mean()

32050.22627737226

In [52]:
##7) What is the average for charges grouped by if the person smokes and their sex?
##df.groupby(['smoker', 'sex'])['charges'].mean()
df[df['smoker'] == 1].groupby('sex')['charges'].mean()

sex
female    30678.982609
male      33042.006289
Name: charges, dtype: float64