<a href="https://colab.research.google.com/github/Mix1996/Prediction-of-Product-Sales/blob/main/Project_1_Part_2_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# `Loading Data`

In [1]:
## Import Pandas with the alias pd
import pandas as pd

In [2]:
## Define the file address as a string
file_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRTUrknRc0jZw8b3wwq4-d8Z1vknBcfjIJycZVo3-mS02tF_bSV793wMVUz6YCkRQx6V08vGYId_ZeS/pub?output=csv"

In [3]:
## Define a dataframe 'df'
df = pd.read_csv(file_url)

In [6]:
##View first 5 rows of data
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
## Display the column names, count of non-null values, and their datatypes
## for the dataframe 'df'
## Columns with mixed datatypes are identified as an object datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17046 entries, 0 to 17045
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   float64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(5), object(7)
memory usage: 1.6+ MB

# `Data Cleaning`

In [8]:
##How many rows/columns:
df.shape

(17046, 12)

In [9]:
##Checking the data types:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year    float64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [10]:
##Checking for duplicated data:
df.duplicated().sum()

8522

In [11]:
##There are 8522 duplicates in the dataset which we will drop.
df.drop_duplicates(inplace = True)
df.duplicated().sum()

0

In [12]:
##Checking for missing values:
df.isna().sum()

Item_Identifier                 1
Item_Weight                  1464
Item_Fat_Content                1
Item_Visibility                 1
Item_Type                       1
Item_MRP                        1
Outlet_Identifier               1
Outlet_Establishment_Year       1
Outlet_Size                  2411
Outlet_Location_Type            1
Outlet_Type                     1
Item_Outlet_Sales               1
dtype: int64

In [13]:
##Address the missing values by using a placeholder value.
df.fillna("MISSING", inplace=True)

In [14]:
### Check if there are any missing values
missing_values = df.isnull().sum()

if missing_values.sum() == 0:
    print("No missing values remaining.")
else:
    print("Missing values still present.")

No missing values remaining.

In [16]:
# Define the columns to check for inconsistent categories
columns_to_check = ['Item_Fat_Content', 'Item_Type']

In [17]:
# Iterate over the columns and fix inconsistent categories
for col in columns_to_check:
    df[col] = df[col].str.lower()

In [18]:
# Display the updated value counts for the relevant columns
for col in columns_to_check:
    print(f"Value counts for {col}:")
    print(df[col].value_counts())
    print()

Value counts for Item_Fat_Content:
low fat    5201
regular    2889
lf          316
reg         117
missing       1
Name: Item_Fat_Content, dtype: int64

Value counts for Item_Type:
fruits and vegetables    1232
snack foods              1200
household                 910
frozen foods              856
dairy                     682
canned                    649
baking goods              648
health and hygiene        520
soft drinks               445
meat                      425
breads                    251
hard drinks               214
others                    169
starchy foods             148
breakfast                 110
seafood                    64
missing                     1
Name: Item_Type, dtype: int64

In [32]:
# Select numerical columns
numerical_cols = df.select_dtypes(include='number').columns

In [ ]:
# Obtain summary statistics for "Item_Weight" column
item_weight_stats = df['Item_Weight'].describe()

print(item_weight_stats[['min', 'max', 'mean']])